<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Expense-tracking application to get hold of your economy">
    <title>Budget Application</title>
    <link rel="stylesheet" href="style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js" defer></script>
</head>

<body>
    <header>
        <h1>Budget tracker</h1>
    </header>

    <main>
        <div id="app">

            <section id="input-container">

                <form @submit.prevent="addIncome" class="budget-form">
                    <h2>Income</h2>

                    <input type="text" id="budget-input" v-model="income" placeholder="Enter Your Income">
                    <input type="month" v-model="date">
                    <button type="submit">save income</button>
                </form>

                <form @submit.prevent="addExpense" class="expense-form">
                    <h2>Expense</h2>

                    <input type="text" v-model="title" placeholder="Enter title">
                    <input type="text" v-model="expense" placeholder="Enter Amount">
                    <input type="date" v-model="date">

                    <select name="category" id="gategory" v-model="category">
                        <option value="" disabled selected hidden>choose a category</option>
                        <option>Food</option>
                        <option>Rent</option>
                        <option>Transport</option>
                    </select>

                    <button type="submit">save expense</button>

                </form>
            </section>

            <section id="net-container">
                <div class="text-container">
                    <p>Income: <span>{{displayAllIncome()}}</span></p>
                    <p>Expenses: <span>{{displayAllExpense()}}</span></p>
                    <p>Net: <span>{{displayNetIncome()}}</span></p>
                </div>
                <div class="button-container">
                    <button type="button" @click="toggleAll">all</button>
                    <button type="button" @click="toggleAll">filter</button>
                    <button type="button" @click="toggleAll">diagram</button>
                </div>
            </section>
            <div class="all" v-if="showAll">
                <ul>
                    <li v-for="income in incomes">
                        <p>
                            Income: {{income.income}}
                            Date: {{income.date}}
                        </p>
                    </li>
                    <li v-for="expense in expenses">
                        <p>
                            Title: {{expense.title}}
                            Expense: {{expense.expense}}
                            Date: {{expense.date}}
                            Category: {{expense.category}}
                        </p>
                    </li>
                </ul>
            </div>

            <div class="filter" v-if="showAll">

            </div>

            <div class="diagram" v-if="showAll">

            </div>

            <section id="filter-container">
                <label for="start-date">start: </label>
                <input id="start-date" type="date">

                <label for="end-date">end: </label>
                <input id="end-date" type="date">

                <select name="category" id="gategory">
                    <option value="" disabled selected hidden>choose a category</option>
                    <option>Food</option>
                    <option>Rent</option>
                    <option>Transport</option>
                </select>
                <button>search</button>
            </section>

            <div>
                <ul>

                </ul>

            </div>

            <footer>
                <p>
                    © 2023 Jafari & Abdi. All rights reserved.
                </p>
            </footer>


        </div>
    </main>
</body>

</html>