*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body{
    background-color:rgb(250, 237, 220)
}
header{
    text-align: center;
}
.app {
    width: 90%;
    font-size: 20px;
    max-width: 60rem;
    margin: 1em auto;
}
.input-container {
    display: flex;
    flex-direction: row;
}

.budget-container{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 3%;
    border-radius: 10px;
    background-color: white;
}
.expense-container{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 10%;
    padding: 3%;
    border-radius: 10px;
    background-color: white;
}

.input-container input {
    padding: 5%;
    margin-top: 1%;
    border-radius: 7px;
}

.input-container select{
    padding: 5%;
    margin-top: 1%;
    border-radius: 7px;
}
.input-container button {
    padding: 3%;
    width: 40%;
    margin-top: 10%;
    margin-bottom: 2%;
    background-color: rgb(66, 141, 253);
    border-radius: 7px;
}

.budget-container h2 {

    margin-bottom: 5%;
}
.expense-container h2 {

    margin-bottom: 5%;
}


#filter-container {
    border-radius: 7px;
    background-color: white;
    padding: 3%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#filter-container input{
    margin-left: 1%;
    padding: 5px;
    width: 25%;
    border-radius: 7px;
}

#filter-container label{
    margin-left: 1%;
    border-radius: 7px;
}

#filter-container select{
    margin-left: 1%;
    border-radius: 7px;
}

#filter-container button{
    margin-left: 1%;
    background-color: rgb(66, 141, 253);
    border-radius: 7px;
}

